Checks: |
    -*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    cert-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-special-member-functions,
    google-*,
    hicpp-*,
    -hicpp-special-member-functions,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    -portability-avoid-pragma-once,
    readability-*
    -readability-identifier-length
WarningsAsErrors: '*'
FormatStyle: file
